<%- include('../partials/header') %>
<h2><%=title%></h2>
  <p><em>23 years old</em></p>
  <p><img class="pic" src="images/39daph.jpg" /</p>
  <p>Followers: 1.1 million followers</p>
  <p>Daphne Wai, better known by her online alias 39Daph, is a Canadian Twitch streamer. She is a content creator for Sentinels. She is a variety streamer but she often streams Art, Resident Evil, Minecraft, and RPGS.</p>
<%- include('../partials/footer') %>