<%- include('../partials/header') %>
<h2><%=title%></h2>
    <p><img class="pic" src="images/content.jpg" /</p>
  <p>These are my favorite content creators currently. They have provided me with great entertainment throughout the pandemic. </p>
<%- include('../partials/footer') %>