<%- include('../partials/header') %>
<h2><%=title%></h2>
  <p><em>27 years old</em></p>
  <p><img class="pic" src="images/aceu.jpg" /</p>
  <p>Followers: 2.7 million followers</p>
  <p>Brandon "aceu" Winn (born April 7, 1995) is a retired American player who is currently playing as a streamer for NRG. He is a former Counter-Strike: Global Offensive player.</p>
<%- include('../partials/footer') %>