<%- include('../partials/header') %>
<h2><%=title%></h2>
  <p><em>32 years old</em></p>
  <p><img class="pic" src="images/trainwreck.jpg" /</p>
  <p>Followers: 2 million followers</p>
  <p>Trainwrecktv is an american Twitch streamer and social media personality. He touted to stardom for his outdoor IRL streams and has featured games such as Halo, WoW, and Call of Duty. He is now more of a variety streamer and streams regularly for his viewers. He also loves giving back to his community and donated more than 10 million to his followers on Twitch and Twitter.</p>
<%- include('../partials/footer') %>