<%- include('../partials/header') %>
<h2><%=title%></h2>
  <p><em>26 years old</em></p>
  <p><img class="pic" src="images/xqc.jpg" /</p>
  <p>Followers: 11.1 million followers </p>
  <p>Félix Lengyel, also known as xQc or xQcOW, is a Canadian Twitch streamer, internet personality, and former professional Overwatch player. Lengyel began his esports career in 2016, while also regularly streaming.</p>
<%- include('../partials/footer') %>